<!DOCTYPE html>
<html>
<head>
     <%- include('./Partials/head') %>
     <title>Add new blog</title>
</head>
<body>
    <%- include('./Partials/nav') %>
   <div class="container mt-3">
    <form action="/blog" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="coverImageURL" class="form-label">Cover Image</label>
            <input type="file" class="form-control" id="coverImageURL" name="coverImageURL" aria-describedby="coverImageURL" >
           
          </div>
        <div class="mb-3">
          <label for="title" class="form-label">title</label>
          <input type="title" class="form-control" id="title" aria-describedby="emailHelp" name="title">
         
        </div>
        <div class="mb-3">
            <label for="body">Body</label>
            <textarea class="form-control" name="body"  id="Body"></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Submit</button>

        </div>
   </form>
   </div>


    <%- include('./Partials/script') %>
</body>

</html>